/* <!-- Jose Antonio Boix -->
<!-- 11 de diciembre de 2019 --> */

body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    color: brown;
}

h2 {
color: crimson;

}
p.centro {
    text-align: center;
}

p.derecha {
    text-align: right;
}

p.cafe { 
    color: brown;
 }

h2.cafe { 
    color: brown;
}

 html {
    background-image: url("img/madera.jpg");
    background-size: 100px 1000px;
  }

span.naranja {
    color: orangered;
}